.treeView{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: hsl(240, 11%, 86%);
    width: 275px;
}
.treeView ul li{
    margin-bottom: 20px;
}
.treeView li{
    list-style: none;
}
.menu{
    display: flex;
    gap: 20px;
}

.menu span{
    font-size: 20px;
}

.submenu{
    
    font-size: 1.2REM;
}
