.SearchAutoComplete{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 50%);
    animation: listAnimation;
    animation-duration: 1s;
}

.SearchAutoComplete input{
    margin-top: 20px;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.SearchAutoComplete .auto-complete{
    
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
    gap: 5px;
    animation: listAnimation;
    animation-duration: 1s;
}

@keyframes listAnimation{
    from{
        margin-left: -1000px;
    }
}

.SearchAutoComplete .auto-complete li{
    list-style: none;
    padding: 10px;
    width: 200px;
}

.SearchAutoComplete .auto-complete li:hover{
    
    background-color: hsl(0, 0%, 60%);
}